// Helpers for visibility
// ------

.is-hidden {
  color: #ccc;
  background-color: #f9f9f9!important;
}

.is-visible {
  color: #468847;
  background-color: #dff0d8!important;
}

// Misc
// ------

.head-to-top {
  display: block;
  float: right;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 16px;
  color: #fff;
  text-decoration: none;
}

.back-to-top {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

.page-section {
  border-bottom: 2px dotted $light-gray;
  margin-bottom: 100px;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
