#sidebar__logo {
  margin-bottom: 20px;
}
#sidebar {
  width: $sidebar-width;
  padding: 20px;
  background-color: $lightest-gray;
  border-right: 1px solid $light-gray;
  box-shadow: 0 0 12px 0 #666;
  overflow: auto;
  &.sidebar--hiding {
    // Even though "animation-play-state" is supposed to be the 8th shorthand
    // property (see https://developer.mozilla.org/en/docs/Web/CSS/animation),
    // Safari 9.1.1 rejects the entire "animation" declaration when we include
    // it, so we have to specify it separately.
    animation: hide-sidebar 0.3s ease-out 0s 1 normal forwards;
    animation-play-state: running;
  }
  &.sidebar--revealing {
    animation: reveal-sidebar 0.3s ease-out 0s 1 normal forwards;
    animation-play-state: running;
  }
  padding-top: 60px; // Add #site-title height
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
}
@keyframes hide-sidebar {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -($sidebar-width);
  }
}
@keyframes reveal-sidebar {
  from {
    margin-left: -($sidebar-width);
  }
  to {
    margin-left: 0;
  }
}
