// HTML code
// ------

div.prettyprint {
  position: relative;
  background: #F9F9F9;
  padding: 10px;
  margin: 20px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #CCCCCC;
  font-size: 12px;

  h4 {
    margin: 0;
  }

  pre {
    margin: 0;
    padding: 10px;
    background: #FFF;
    white-space: pre;
    word-wrap: normal;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
