@mixin grid-assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

@mixin grid-assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@mixin grid-assert-starts-at-one($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 1 {
    @warn "First column in `$grid-columns` must start at 1, but starts at #{$first-value}.";
  }
}

@mixin grid-assert-greater-than-equal-to($item-value, $item-name, $other-value) {
  $item-type: type-of($item-value);
  @if $item-type == "map" {
    @each $key, $value in $item-value {
      @include grid-assert-gte-to($value, $item-name + "[" + $key + "]", $other-value);
    }
  } @else if $item-type == "number" {
    @include grid-assert-gte-to($item-value, $item-name, $other-value);
  } @else {
    @warn "Invalid item type value for #{$item-name}: This item has value '#{$item-type}' which is neither 'map' or 'number'.";
  }
}

@mixin grid-assert-gte-to($item-value, $item-name, $other-value) {
  @if not comparable($item-value, $other-value) {
    @warn "Potentially invalid value for #{$item-name}: This item has value #{$item-value} whose unit makes it incomparable to #{$other-value} !";
  } @else if $other-value > $item-value {
    @warn "Invalid value for #{$item-name}: This item has value #{$item-value} which isn't greater than or equal to #{$other-value} !";
  }
}
