// Static container
//
// Set the container width, and override it for fixed navbars in media queries.
.l-container {
  @include grid-make-container();
  @include grid-make-container-max-widths();
}

// Generate very little CSS for a row
.l-row {
  @include grid-make-row();
}

// Generate a lot of CSS for columns themselves
@include grid-make-grid-columns();

// Utility to clear columns, for a new "row", within an actual `l-row`
.l-row-clearfix {
  width: 100%;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
