// Remove the horizontal padding from the row, and remove padding
// from all immediate children columns (to prevent runaway style inheritance).

@if $grid-include-grid-no-gutters {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include grid-breakpoint-up($breakpoint, $grid-breakpoints) {
      $infix: grid-breakpoint-infix($breakpoint, $grid-breakpoints);

      // Remove left/right padding from all columns in row
      .l-row#{$infix}--gutters-none {
        > .l-col,
        > [class*="l-col-"] {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      .l-row#{$infix}--gutters-default {
        > .l-col,
        > [class*="l-col-"] {
          padding-left: ($grid-gutter-width-manual / 2) !important;
          padding-right: ($grid-gutter-width-manual / 2) !important;
        }
      }

      // Remove left/right padding from this column
      .l-col#{$infix}--gutters-none {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .l-col#{$infix}--gutters-default {
        padding-left: ($grid-gutter-width-manual / 2) !important;
        padding-right: ($grid-gutter-width-manual / 2) !important;
      }

      // Remove left padding from this column
      .l-col#{$infix}--gutters-left-none {
        padding-left: 0 !important;
      }
      .l-col#{$infix}--gutters-left-default {
        padding-left: ($grid-gutter-width-manual / 2) !important;
      }

      // Remove right padding from this column
      .l-col#{$infix}--gutters-right-none {
        padding-right: 0 !important;
      }
      .l-col#{$infix}--gutters-right-default {
        padding-right: ($grid-gutter-width-manual / 2) !important;
      }
    }
  }
}
