// For each breakpoint, define the container properties and padding
@mixin grid-make-container($paddings: $grid-paddings, $breakpoints: $grid-breakpoints, $gutter: $grid-gutter-width-base) {
  margin-left: auto;
  margin-right: auto;

  // add optional left/right edge padding to container
  @each $breakpoint in map-keys($paddings) {
    @include grid-breakpoint-up($breakpoint, $breakpoints) {
      padding-left:  map-get($paddings, $breakpoint);
      padding-right: map-get($paddings, $breakpoint);
    }
  }
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin grid-make-container-max-widths($sizes: $grid-sizes, $breakpoints: $grid-breakpoints, $gutter: $grid-gutter-width-base) {
  @each $breakpoint, $size in $sizes {
    @include grid-breakpoint-up($breakpoint, $breakpoints) {
      width: $size + $gutter;
      max-width: 100%;
    }
  }
}

@mixin grid-make-gutters($gutter: $grid-gutter-width-base) {
  @if ($grid-gutter-width-base > 0) {
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
  }
}

@mixin grid-make-row($gutter: $grid-gutter-width-base) {
  display: flex;
  flex-wrap: wrap;
}

// When not XS tier, return non-percentage value, in order to more easily nest grids.
// $size is the desired column count
// $columns is the max total
// $breakpoint is this tier namespace
// $gutter is the global value for column spacing
@function grid-percentage($size, $columns, $breakpoint, $gutter: $grid-gutter-width-base) {
  $max: map-get($grid-sizes, $breakpoint);
  @if $max == null {
    @return percentage($size / $columns);
  } @else {
    @return (((($max + $gutter) / $columns) * $size));
  }
}

@mixin grid-make-col($size, $columns, $breakpoint) {
  flex: 0 0 grid-percentage($size, $columns, $breakpoint);
  // width: grid-percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: grid-percentage($size, $columns, $breakpoint);
}

@mixin grid-make-col-offset($size, $columns, $breakpoint) {
  // margin-left: grid-percentage($size, $columns, $breakpoint);
  margin-left: percentage($size / $columns);
}

@mixin grid-make-col-push($size, $columns, $breakpoint) {
  left: if($size > 0, grid-percentage($size, $columns, $breakpoint), auto);
}

@mixin grid-make-col-pull($size, $columns, $breakpoint) {
  right: if($size > 0, grid-percentage($size, $columns, $breakpoint), auto);
}

@mixin grid-make-col-modifier($type, $size, $columns, $breakpoint) {
  @if $grid-include-grid-push and $type == push {
    @include grid-make-col-push($size, $columns, $breakpoint);

  } @else if $grid-include-grid-pull and $type == pull {
    @include grid-make-col-pull($size, $columns, $breakpoint);

  } @else if $grid-include-grid-offset and $type == offset {
    @include grid-make-col-offset($size, $columns, $breakpoint);
  }
}

@mixin grid-make-grid-columns($g-columns: $grid-columns, $gutter: $grid-gutter-width-base, $breakpoints: $grid-breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty

    @include grid-make-gutters($gutter);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: grid-breakpoint-infix($breakpoint, $breakpoints);
    $columns: map-get($g-columns, $breakpoint);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .l-col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }
    .l-col#{$infix} {
      @extend %grid-column;
    }

    @include grid-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.l-col-{bp}` classes for equal-width flexbox columns
      .l-col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .l-col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
      }

      @for $i from 1 through $columns {
        .l-col#{$infix}-#{$i} {
          @include grid-make-col($i, $columns, $breakpoint);
        }
      }

      // push and pull columns
      @each $modifier in (pull, push) {
        @for $i from 0 through $columns {
          .l-#{$modifier}#{$infix}-#{$i} {
            @include grid-make-col-modifier($modifier, $i, $columns, $breakpoint)
          }
        }
      }

      // offsetting a column
      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-xs-0
          .l-offset#{$infix}-#{$i} {
            @include grid-make-col-modifier(offset, $i, $columns, $breakpoint)
          }
        }
      }
    }
  }
}

@mixin grid-make-container-debug() {
  outline: 1px solid rgba(222, 100, 92, 0.4);
}

@mixin grid-make-container-overlay() {
  position: relative;
  &::before {
    content:"";
    opacity: 0.5;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
    background-image: none;
    background-repeat: repeat-y;
    background-position: top left;
    pointer-events: none; // prevent inspector from via mouse click
  }
  @include grid-breakpoint-up(sm) {
    &::before {
      // 620px
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAmwAAAAKCAYAAAAJpwJLAAAAAXNSR0IArs4c6QAAAbBJREFUeAHt1sErg3Ecx/HfpKHUDs+jKEWjUeymtJOVmogLOZi1g9XKGhd/gN0c3HCxlCfiMjvIarVSS7LTSrkwLc+BRVpkFCtF/obf4Zvezx/w6fO8vr/Dx+GJr/QfJdPqv3/vTU61NBdQxeTWta5/nU0knPd2xb19mNMVKTanZBpqI+D9PrOsW10l/bFYq/H00rl6UtAVKTan0N2h0sMDX7n9nTudJUfDYaPn8aMtni/qjBWZlfF61IW7vZZJ7T3oKjgWinb4yrZruljSFSk2J+n3qrLLrGZTu886Sk4EI13jV+WWkRtbR5zojLUpn3ptNivZg803XUX9oUhv9PyycbBS1RUpNmc5GPjtVrfzlvWpq+TQwmLf+vGpw6jVdUWKzZmPTqoZ0yw1iG1IMQQQQAABBBBAAIE/AQYbDwEBBBBAAAEEEBAuwGATfiDqIYAAAggggAACDDbeAAIIIIAAAgggIFyAwSb8QNRDAAEEEEAAAQQYbLwBBBBAAAEEEEBAuACDTfiBqIcAAggggAACCDDYeAMIIIAAAggggIBwAQab8ANRDwEEEEAAAQQQ+AHIcVKWdypmywAAAABJRU5ErkJggg==');
      // 700px
      // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAAKCAYAAABWto0CAAAAAXNSR0IArs4c6QAAAPNJREFUeAHt1qENAlEQBNCDYgj9QA0oHHXgUNQA/VyohqBO7DqyZvK++hmxyb41sztcb8fX8714m8D5clo+j/u6Jf//OFdDztVkIuE8oVpncq4mEwnnCdU6k3M1mUg4T6jWmT/nfY0lBAgQIECAAAECBHIEFN6cW9qEAAECBAgQIECgEVB4GxQRAQIECBAgQIBAjoDCm3NLmxAgQIAAAQIECDQCCm+DIiJAgAABAgQIEMgRUHhzbmkTAgQIECBAgACBRkDhbVBEBAgQIECAAAECOQIKb84tbUKAAAECBAgQINAIKLwNiogAAQIECBAgQCBH4AvsITVBRvb/kgAAAABJRU5ErkJggg==');
    }
  }
  @include grid-breakpoint-up(md) {
    &::before {
      // 940px
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA6wAAAAKCAYAAACwltMqAAAAAXNSR0IArs4c6QAAASdJREFUeAHt17EJAlEQBNDTYsTEBuzBTsysw8xO7MEGTA6rEfMNBpRJfBcuA8N/cMFsdufL/nm8L//wHR6n5XW7rr98K7/vNPnxSwX8v6nUnOM3u6RXfqnUnOM3u6RXfqnUnOM3u6RXfqnUnOM3u6TXj982DcsRIECAAAECBAgQIECAAIGmgMHa1NZFgAABAgQIECBAgAABArGAwRpTCRIgQIAAAQIECBAgQIBAU8BgbWrrIkCAAAECBAgQIECAAIFYwGCNqQQJECBAgAABAgQIECBAoClgsDa1dREgQIAAAQIECBAgQIBALGCwxlSCBAgQIECAAAECBAgQINAUMFib2roIECBAgAABAgQIECBAIBYwWGMqQQIECBAgQIAAAQIECBBoCrwBGrFRQQtEyZcAAAAASUVORK5CYII=');
    }
  }
  @include grid-breakpoint-up(lg) {
    &::before {
      // 1260px
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABOwAAAAKCAYAAAAHF8EJAAAAAXNSR0IArs4c6QAAAWdJREFUeAHt2LEJwmAUBODoCu4gDmcXxzCdw4k7uEOwv+JAX+WX8jh4/B+kucP5ul5O2335h++93pbXY3v+8q38vtPkx68V8P+2UrnHL7u0Kb9WKvf4ZZc25ddK5R6/7NKm/Fqp3OOXXdqUXyuVe/yyS5vya6Vyj192adOP37Et6xEgQIAAAQIECBAgQIAAAQIECBAgMC9gsJs3doEAAQIECBAgQIAAAQIECBAgQIBALWCwq6kUCRAgQIAAAQIECBAgQIAAAQIECMwLGOzmjV0gQIAAAQIECBAgQIAAAQIECBAgUAsY7GoqRQIECBAgQIAAAQIECBAgQIAAAQLzAga7eWMXCBAgQIAAAQIECBAgQIAAAQIECNQCBruaSpEAAQIECBAgQIAAAQIECBAgQIDAvIDBbt7YBQIECBAgQIAAAQIECBAgQIAAAQK1gMGuplIkQIAAAQIECBAgQIAAAQIECBAgMC+wA2VLbUFGhrmPAAAAAElFTkSuQmCC');
    }
  }
}

@mixin grid-make-row-debug() {
  margin-top: 16px;
  margin-bottom: 16px;
  outline: 1px solid rgba(118, 203, 68, 0.4);
  > .l-col,
  > [class*="l-col-"] {
    @include grid-make-col-debug();
  }
}

@mixin grid-make-col-debug() {
  // only outline column if there is no gutters
  @if ($grid-gutter-width-base == 0) {
    outline: 1px solid rgba(104, 138, 224, 0.4);
  }
  background-clip: content-box; // exclude padding from bg-color
  background-color: rgba(104, 138, 224, 0.2);
}
