<div class="l-container">
  <div class="l-row">
    <div class="col-half">...</div>
    <div class="col-half">...</div>
  </div>
  <div class="l-row">
    <div class="col-third">...</div>
    <div class="col-third">...</div>
    <div class="col-third">...</div>
  </div>
  <div class="l-row">
    <div class="col-fourth">...</div>
    <div class="col-fourth">...</div>
    <div class="col-fourth">...</div>
    <div class="col-fourth">...</div>
  </div>
</div>

<div class="l-container">
  <div class="l-row">
    <div class="content-1">...</div>
    <div class="content-2">...</div>
  </div>
</div>

<div class="l-container">
  <div class="l-row">
    <div class="l-col-ready content-3">...</div>
    <div class="l-col-ready content-4">...</div>
  </div>
</div>
