<div class="l-container--overlay">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col-1 l-col-sm-8"> A </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-1"> B </div>
      <div class="l-col-1 l-col-sm-7"> C </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-2 l-col-md-4"> D </div>
      <div class="l-col-1 l-col-sm-6 l-col-md-8"> E </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-3 l-col-md-4 l-col-lg-6"> F </div>
      <div class="l-col-1 l-col-sm-5 l-col-md-8 l-col-lg-10"> G </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-4 l-col-md-6 l-col-lg-8"> H </div>
      <div class="l-col-1 l-col-sm-4 l-col-md-6 l-col-lg-8"> I </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-5 l-col-md-8"> J </div>
      <div class="l-col-1 l-col-sm-3 l-col-md-4"> K </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-6"> L </div>
      <div class="l-col-1 l-col-sm-2"> M </div>
    </div>
    <div class="l-row">
      <div class="l-col-1 l-col-sm-7"> N </div>
      <div class="l-col-1 l-col-sm-1"> O </div>
    </div>
  </div>
</div>
