// This value is used to convert PX based values into EM values, for media query breakpoints
$grid-base-font-size: 16px;

// Set the the width of the gutters between columns.
// Choose 0px if you nest more grids than not,
// and you perfer to manually set the gutter on
// the final child column only. Which holds the content.
$grid-gutter-width-base: 20px;

// Set the number of columns, within a tier container.
$grid-columns: (
  xs: 1,  // 100% column
  sm: 8,  // 70px columns
  md: 12, // 60px columns
  lg: 16  // 60px columns
);
