// Responsive visibility utility classes
// Enable or disable features of the grid system
$grid-include-hidden:                 true;

// Display property utility classes
// Enable or disable sub-features for this feature
$grid-include-display-block:          true;
$grid-include-display-flex:           true;
$grid-include-display-inline-block:   true;
$grid-include-display-inline-flex:    true;
$grid-include-display-inline:         true;
$grid-include-display-none:           true;
$grid-include-display-table-cell:     true;
$grid-include-display-table:          true;

// Flexbox grid utility classes
// Enable or disable sub-features for this feature
$grid-include-flex-align-content:     true;
$grid-include-flex-align-items:       true;
$grid-include-flex-align-self:        true;
$grid-include-flex-direction:         true;
$grid-include-flex-justify-content:   true;
$grid-include-flex-order:             true;
$grid-include-flex-text-align:        true;
$grid-include-flex-wrap:              true;

// Flexbox grid layout classes
// Enable or disable sub-features for this feature
$grid-include-grid-debug:             true;
$grid-include-grid-overlay:           true;
$grid-include-grid-no-gutters:        true;
$grid-include-grid-offset:            true;
$grid-include-grid-pull:              true;
$grid-include-grid-push:              true;
