$grid-columns: (
  xs: 1,
  sm: 8,
  md: 12,
  lg: 16
);

// Set the the width of the gutters between columns.
// Choose 0px if you nest more grids than not,
// and you perfer to manually set the gutter on
// the final child column only. Which holds the content.
$grid-gutter-width-base: 20px;
