<div class="l-container">
  <div class="l-row">
    <div class="l-col l-col-sm-2 l-col-md-2 l-col-lg-1"> A1 </div>
    <div class="l-col l-col-sm-4 l-col-md-8 l-col-lg-14"> A2 </div>
    <div class="l-col l-col-sm-2 l-col-md-2 l-col-lg-1"> A3 </div>
  </div>
  <div class="l-row">
    <div class="l-col l-col-sm-2 l-col-md-2 l-col-lg-1"> B1 </div>
    <div class="l-col l-col-sm-6 l-col-md-10 l-col-lg-15"> B2 </div>
  </div>
  <div class="l-row">
    <div class="l-col l-col-sm-4 l-col-md-8 l-col-lg-13"> C1 </div>
    <div class="l-col l-col-sm-4 l-col-md-4 l-col-lg-3"> C2 </div>
  </div>
</div>
