<h2>The Globe and Mail Flexbox Grid v1.0.7</h2>
<a id="page-heading" class="anchor" tabindex="-1"></a>

<p>A mobile-first flexbox grid system based on the CSS <strong>flex</strong> display property.
  A customized, namespaced, and extended <strong>Bootstrap 4</strong> (alpha) grid.</p>

<p>It also supports different column counts for each of the 4 breakpoint tiers.
Which are extra-small (1), small (8), medium (12), and large (16).</p>

<p>Filesize is <strong>33 KB</strong> minified, and <strong>3.3 KB</strong> gzippped.
  <a href="https://github.com/empirecoder/tgam-flexboxgrid">Github Repo</a>.</p>

<h2>Home</h2>
{{> secondary-nav items=navTree }}
