<div class="l-container-fluid">
  <div class="l-row">
    <div class="l-col-sm-5">

      <div class="l-row">
        <div class="l-col-sm-3"> A </div>
        <div class="l-col-sm-5"> B </div>
        <div class="l-col-sm-2 l-row">
          <div class="l-col-sm-4"> C </div>
          <div class="l-col-sm-4"> D </div>
        </div>
        <div class="l-col-sm-6"> E </div>
      </div>

    </div>
    <div class="l-col-sm-3">

      <div class="l-row">
        <div class="l-col-sm-4"> F </div>
        <div class="l-col-sm-4 l-row">
          <div class="l-col-sm-6"> G </div>
          <div class="l-col-sm-2"> H </div>
        </div>
      </div>

    </div>
  </div>
</div>
