<div class="l-container">
  <div class="l-row">
    <div class="l-col"> 8 </div>
  </div>
  <div class="l-row">
    <div class="l-col-sm-1"> 1 </div>
    <div class="l-col-sm-7"> 7 </div>
  </div>
</div>
