<div class="l-container">
  <div class="l-row u-justify-content-start">
    <div class="l-col-sm-2">
      One of two columns
    </div>
    <div class="l-col-sm-2">
      One of two columns
    </div>
  </div>
  <div class="l-row u-justify-content-center">
    <div class="l-col-sm-2">
      One of two columns
    </div>
    <div class="l-col-sm-2">
      One of two columns
    </div>
  </div>
  <div class="l-row u-justify-content-end">
    <div class="l-col-sm-2">
      One of two columns
    </div>
    <div class="l-col-sm-2">
      One of two columns
    </div>
  </div>
  <div class="l-row u-justify-content-around">
    <div class="l-col-sm-2">
      One of two columns
    </div>
    <div class="l-col-sm-2">
      One of two columns
    </div>
  </div>
  <div class="l-row u-justify-content-between">
    <div class="l-col-sm-2">
      One of two columns
    </div>
    <div class="l-col-sm-2">
      One of two columns
    </div>
  </div>
</div>
