<div class="l-container">
  <div class="l-row" style="min-height: 4em;">
    <div class="l-col u-align-self-start">
      One of three columns
    </div>
    <div class="l-col u-align-self-center">
      One of three columns
    </div>
    <div class="l-col u-align-self-end">
      One of three columns
    </div>
  </div>
</div>
