<div class="d-flex u-flex-column">
  <div class="example-item">Flex item 1</div>
  <div class="example-item">Flex item 2</div>
  <div class="example-item">Flex item 3</div>
</div>
<div class="d-flex u-flex-column-reverse">
  <div class="example-item">Flex item 1</div>
  <div class="example-item">Flex item 2</div>
  <div class="example-item">Flex item 3</div>
</div>
