<h3 id="u-visibility">Visibility</h3>
{{> utility/visibility}}

<h3 id="u-display">Display</h3>
<p>Use <code>.d-block</code>, <code>.d-inline</code>, or <code>.d-inline-block</code> to simply set an
  element’s <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/display">display property</a>
  to block, inline, or inline-block (respectively).</p>

<p>Responsive variations exist for these various traditional display classes:</p>
<ul>
  <li><code>.d-none, .d-none-sm, .d-none-md, .d-none-lg</code></li>
  <li><code>.d-inline, .d-inline-sm, .d-inline-md, .d-inline-lg</code></li>
  <li><code>.d-inline-block, .d-inline-block-sm, .d-inline-block-md, .d-inline-block-lg</code></li>
  <li><code>.d-block, .d-block-sm, .d-block-md, .d-block-lg</code></li>
  <li><code>.d-table, .d-table-sm, .d-table-md, .d-table-lg</code></li>
  <li><code>.d-table-cell, .d-table-cell-sm, .d-table-cell-md, .d-table-cell-lg</code></li>
</ul>

<h4 id="u-display-inline">Enable inline/block behaviors</h4>
<div class="u-display-example">
  {{> utility/display-inline-block}}
</div>
{{> utility/display-inline-block-code}}

<h4 id="u-display-flexbox">Enable flex behaviors</h4>
<p>Apply <strong>display</strong> utilities to create a flexbox container and transform
  <strong>direct children elements</strong> into flex items. Flex containers and items are able to be modified
  further with additional flex properties.</p>

  <div class="u-display-example">
    {{> utility/display-flexbox}}
  </div>
{{> utility/display-flexbox-code}}

<p>Responsive variations also exist for <code>.d-flex</code> and <code>.d-inline-flex</code>.</p>
<ul>
  <li><code>.d-flex, .d-flex-sm, .d-flex-md, .d-flex-lg</code></li>
  <li><code>.d-inline-flex, .d-inline-flex-sm, .d-inline-flex-md, .d-inline-flex-lg</code></li>
</ul>
