<div class="d-flex u-flex-nowrap">
  <div class="u-flex-last example-item">First flex item</div>
  <div class="example-item">Second flex item</div>
  <div class="u-flex-first example-item">Third flex item</div>
</div>
