<div class="l-row l-row--no-gutters">
  <div class="l-col-sm-7">
    Level 1: .col-sm-7
    <div class="l-row">
      <div class="l-col-sm-4 l-col-md-4">
        Level 2: .l-col-sm-4 .l-col-md-4
      </div>
      <div class="l-col-sm-4 l-col-md-8">
        Level 2: .l-col-sm-4 .l-col-md-8
      </div>
    </div>
  </div>
</div>
