<div class="l-row">
  <div class="l-col l-col-sm-4 l-col-md-6 l-col--no-gutters l-col-md-no-gutters l-col-lg-no-gutters">A - no gutters</div>
  <div class="l-col l-col-sm-4 l-col-md-6 l-col--no-gutters-left l-col-lg-no-gutters-left">B - no left gutter</div>
</div>
<div class="l-row">
  <div class="l-col l-col-sm-4 l-col-md-6 l-col--no-gutters-right l-col-lg-no-gutters-right">C - no right gutter</div>
  <div class="l-col l-col-sm-4 l-col-md-6">D - yes gutters</div>
</div>
