<div class="l-container">
  <div class="l-row">
    <div class="l-col">
      1 of 3
    </div>
    <div class="l-col-sm-5">
      2 of 3 (wider)
    </div>
    <div class="l-col">
      3 of 3
    </div>
  </div>
  <div class="l-row">
    <div class="l-col">
      1 of 3
    </div>
    <div class="l-col-sm-4">
      2 of 3 (wider)
    </div>
    <div class="l-col">
      3 of 3
    </div>
  </div>
</div>
