<div class="l-container">
  <div class="l-row u-align-items-start">
    <div class="l-col">
      One of three columns
    </div>
    <div class="l-col" style="height: 4em;">
      Bigger column
    </div>
    <div class="l-col">
      One of three columns
    </div>
  </div>
  <div class="l-row u-align-items-center">
    <div class="l-col">
      One of three columns
    </div>
    <div class="l-col" style="height: 4em;">
      Bigger column
    </div>
    <div class="l-col">
      One of three columns
    </div>
  </div>
  <div class="l-row u-align-items-end">
    <div class="l-col">
      One of three columns
    </div>
    <div class="l-col" style="height: 4em;">
      Bigger column
    </div>
    <div class="l-col">
      One of three columns
    </div>
  </div>
</div>
