<div class="l-container">
  <div class="l-row u-justify-content-md-center">
    <div class="l-col l-col-lg-2">
      1 of 3
    </div>
    <div class="l-col-12 l-col-md-auto">
      Variable width content
    </div>
    <div class="l-col l-col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="l-row">
    <div class="l-col">
      1 of 3
    </div>
    <div class="l-col-12 l-col-md-auto">
      Variable width content
    </div>
    <div class="l-col l-col-lg-2">
      3 of 3
    </div>
  </div>
</div>
