<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>TGAM Flexbox Grid | The Globe and Mail Pattern Library</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="stylesheets/styles.min.css"/>
  <link rel="stylesheet" href="dist/flexboxgrid.min.css"/>
</head>
<body>

<a id="skip-link" href="#page-heading">Skip to main content</a>

<div id="page">

<header id="header">
  <a class="head-to-top" href="#page-heading">▲ TOP</a>
  <h1 id="site-title"><abbr title="The Globe and Mail">TGAM</abbr> <span data-short-title="Grid">Flexbox Grid</span></h1>
  <div id="burger-container">
    <button id="burger-button" type="button" aria-controls="sidebar" aria-expanded="true">
      <span class="burger-button__lines"></span>
      <span class="burger-button__text">Hide navigation</span>
    </button>
  </div>
</header>

<main id="main">

<aside id="sidebar">
<img id="sidebar__logo" src="images/tgam-logo-square.gif" width="90" height="95" alt="Globe and Mail logo" />
{{> primary-nav items=navTree }}
</aside>

<div id="main-content">
<h2 id="page-heading" tabindex="-1">The Globe and Mail Flexbox Grid</h2>

<p>A mobile-first flexbox grid system based on the CSS <strong>flex</strong> display property.
  A customized, namespaced, and extended <strong>Bootstrap 4</strong> (alpha) grid.</p>

<p>It also supports different column counts for each of the 4 breakpoint tiers.
Which are extra-small (1), small (8), medium (12), and large (16).</p>

<p>Filesize is <strong>22 KB</strong> minified, and <strong>2.8 KB</strong> gzippped. <a href="https://github.com/empirecoder/tgam-flexboxgrid">Github Repo</a>.</p>

<h2 id="home">Home</h2>
{{> secondary-nav items=navTree }}

<section class="page-section">
<h2 id="overview">Overview</h2>
{{> overview/index}}
</section>

<section class="page-section">
<h2 id="util">Utilities</h2>
{{> utility/index}}
{{> flexbox/index}}
</section>

<section class="page-section">
<h2 id="grid">Grid</h2>
{{> grid/index}}
</section>

<section class="page-section">
<h2 id="examples">Examples</h2>
{{> example/index}}
</section>

<p class="back-to-top"><a href="#page-heading">▲ Back to top</a></p>

</div>

</main>

</div>

<script src="javascripts/babel-polyfill.min.js"></script>
<script src="javascripts/vendor.min.js"></script>
<script src="javascripts/bundle.min.js"></script>

</body>
</html>
