<div class="prettyprint">
  {{#if iframeSrc}}
  <a class="specimen__button specimen__button--isolate" href="{{ iframeSrc }}" target="_blank" title="View in isolation"></a>
  {{/if}}
  <pre><h4>{{ title }}</h4><code class='language-{{ language }}'>{{{ body }}}</code></pre>
</div>
