<div class="l-row">
  <div class="l-col-md-8 l-col__no-gutters">
    .l-col-md-8
    <div class="l-row">
      <div class="l-col-md-6">.l-col-md-6</div>
      <div class="l-col-md-6">.l-col-md-6</div>
    </div>
  </div>
  <div class="l-col-md-4">.l-col-md-4</div>
</div>
