<div class="l-container">
  <div class="l-row">
    <div class="l-col-md-7">
      l-col-md-7
      <div class="l-row">
        <div class="l-col-md-2"> l-col-md-2 </div>
        <div class="l-col-md-2"> l-col-md-2 </div>
        <div class="l-col-md-3"> l-col-md-3
          <div class="l-row">
            <div class="l-col-md-1"> l-col-md-1 </div>
            <div class="l-col-md-2"> l-col-md-2 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-col-md-5">
      l-col-md-5
      <div class="l-row">
        <div class="l-col-md-3 l-offset-md-2"> l-col-md-3 l-offset-md-2
          <div class="l-row">
            <div class="l-col-md-1"> l-col-md-1 </div>
            <div class="l-col-md-1"> l-col-md-1 </div>
            <div class="l-col-md-1"> l-col-md-1 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
