<div class="l-container">
  <div class="l-row">
    <div class="l-col-sm-8 l-col-md-8">l-col-sm-8 l-col-md-8</div>
    <div class="l-col-sm-4 l-col-md-4">l-col-sm-4 l-col-md-4</div>
  </div>
  <div class="l-row">
    <div class="l-col-sm-3 l-col-md-4">l-col-sm-3 l-col-md-4</div>
    <div class="l-col-sm-3 l-col-md-4">l-col-sm-3 l-col-md-4</div>
    <div class="l-col-sm-2 l-col-md-4">l-col-sm-2 l-col-md-4</div>
  </div>
  <div class="l-row">
    <div class="l-col-sm-4">l-col-sm-4</div>
    <div class="l-col-sm-4">l-col-sm-4</div>
  </div>
</div>
