<div class="l-container">
  <div class="l-row">
    <div class="l-col-1 l-col-sm-6 l-col-md-8 l-col-lg-6">l-col-1 l-col-sm-6 l-col-md-8 l-col-lg-6</div>
    <div class="l-col-1 l-col-sm-2 l-col-md-4 l-col-lg-10">l-col-1 l-col-sm-2 l-col-md-4 l-col-lg-10</div>
  </div>
  <div class="l-row">
    <div class="l-col l-col-sm-4 l-col-md-6 l-col-lg-8">l-col l-col-sm-4 l-col-md-6 l-col-lg-8</div>
    <div class="l-col l-col-sm-4 l-col-md-6 l-col-lg-8">l-col l-col-sm-4 l-col-md-6 l-col-lg-8</div>
    <div class="l-col l-col-sm-4 l-col-md-6 l-col-lg-8">l-col l-col-sm-4 l-col-md-6 l-col-lg-8</div>
  </div>
</div>
