<div class="l-container">
  <div class="l-row">
    <div class="l-col-sm-2 l-col-md-5 l-col-lg-8">l-col-sm-2 l-col-md-5 l-col-lg-8</div>
    <div class="l-col-sm-2 l-col-md-5 l-col-lg-8 l-offset-sm-1 l-offset-md-1 l-offset-lg-0">l-col-sm-2 l-col-md-5 l-col-lg-8 l-offset-sm-1 l-offset-md-1 l-offset-lg-0</div>
  </div>
  <div class="l-row">
    <div class="l-col-sm-3 l-col-md-4 l-col-lg-5">l-col-sm-3 l-col-md-4 l-col-lg-5</div>
    <div class="l-col-sm-3 l-col-md-4 l-col-lg-5 l-offset-sm-2 l-offset-md-4 l-offset-lg-6">l-col-sm-3 l-col-md-4 l-col-lg-5 l-offset-sm-2 l-offset-md-4 l-offset-lg-6</div>
  </div>
</div>
