<!-- "l-container l-row" is equal to PageBuilder's #pb-root -->
<!-- Which is both a grid container and grid row. -->
<!-- The contained section elements are grid columns. -->
<div title="pb-root" class="l-container l-row l-container--overlay">
  <div title="section" class="l-col-1">top-furniture-area</div>
  <div title="section" class="l-col-1">top-fullwidth-area</div>
  <div title="section" class="l-col-1">title-content-area</div>
  <div title="section" class="l-col-1 l-col-sm-8 l-col-md-8 l-col-lg-12 x-l-col--gutters-right-none">
    <div>main-content-area</div>
    <div title="chain" class="l-row">
      <div title="feature" class="l-col-1 l-col-lg-10 l-offset-lg-1 x-l-col--gutters-right-none">
        <div title="component" class="l-row u-align-content-stretch">
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
          <div class="l-col-1 l-col-sm-4 l-col-md-4 l-col-lg-5"><div class="example-item">Card</div></div>
        </div>
      </div>
    </div>
  </div>
  <div title="section" class="l-col-1 l-col-sm-6 l-col-md-4 l-col-lg-4 l-offset-sm-1 l-offset-md-0 l-offset-lg-0">secondary-content-area</div>
  <div title="section" class="l-col-1">promo-content-area</div>
  <div title="section" class="l-col-1 l-col-sm-6 l-col-md-12 l-col-lg-12 l-offset-sm-1 l-offset-md-0 l-offset-lg-2">bottom-furniture-area</div>
</div>
