<div class="l-container">
  <div class="l-row">
    <div class="l-col-md-3 l-col-md-4 l-col-md-6">l-col-md-3 l-col-md-4 l-col-md-6</div>
    <div class="l-col-md-3 l-col-md-4 l-col-md-6">l-col-md-3 l-col-md-4 l-col-md-6</div>
    <div class="l-col-md-2 l-col-md-4 l-col-md-4">l-col-md-2 l-col-md-4 l-col-md-4</div>
  </div>
  <div class="l-row">
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
  </div>
</div>
