<div class="l-container">
  <div class="l-row">
    <div class="l-col-md-4">.l-col-md-4</div>
    <div class="l-col-md-4">.l-col-md-4</div>
    <div class="l-col-md-4">.l-col-md-4</div>
  </div>
  <div class="l-row">
    <div class="l-col">.l-col</div>
    <div class="l-col">.l-col</div>
    <div class="l-col">.l-col</div>
  </div>
</div>
