<h2>Examples</h2>
<a id="page-heading" class="anchor" tabindex="-1"></a>

<h3>Section latest layout</h3>
<a id="e-section-latest-layout" class="anchor"></a>

<div class="l-container--debug">
  {{> example/section-latest-layout}}
</div>
{{> example/section-latest-layout-code}}

<h3>Section list layout</h3>
<a id="e-section-list-layout" class="anchor"></a>

<div class="l-container--debug">
  {{> example/section-list-layout}}
</div>
{{> example/section-list-layout-code}}

<h3>Group 1 layout</h3>
<a id="e-group-1-layout" class="anchor"></a>

<div class="l-container--debug">
  {{> example/group-1-layout}}
</div>
{{> example/group-1-layout-code}}

<h3>Group 2 layout</h3>
<a id="e-group-2-layout" class="anchor"></a>

<div class="l-container--debug">
  {{> example/group-2-layout}}
</div>
{{> example/group-2-layout-code}}

<h3>Template 1 layout</h3>
<a id="e-template-1-layout" class="anchor"></a>

<div class="l-container--debug">
  {{> example/template-1-layout}}
</div>
{{> example/template-1-layout-code}}

<h3>Complex nested grid</h3>
<a id="e-complex-grid" class="anchor"></a>

<div class="l-container--debug">
  {{> example/complex-grid}}
</div>
{{> example/complex-grid-code}}

<h3>Four grid tier</h3>
<a id="e-four-grid-tier" class="anchor"></a>

<p>There are four tiers to the grid system, one for each range of devices we support.
  Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>
<div class="l-container--debug">
  {{> example/four-grid-tier}}
</div>
{{> example/four-grid-tier-code}}

<h3>Three equal columns</h3>
<a id="e-three-equal-cols" class="anchor"></a>

<p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>.
  On mobile devices, tablets and below, the columns will automatically stack.</p>
<div class="l-container--debug">
  {{> example/three-equal-cols}}
</div>
{{> example/three-equal-cols-code}}

<h3>Three unequal columns</h3>
<a id="e-three-unequal-cols" class="anchor"></a>

<p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths.
  Remember, grid columns should add up to twelve for a single horizontal block.
  More than that, and columns start stacking no matter the viewport.</p>
<div class="l-container--debug">
  {{> example/three-unequal-cols}}
</div>
{{> example/three-unequal-cols-code}}

<h3>Two columns</h3>
<a id="e-two-columns" class="anchor"></a>

<p>Get two columns starting at desktops and scaling to large desktops.</p>
<div class="l-container--debug">
  {{> example/two-columns}}
</div>
{{> example/two-columns-code}}

<h3>Two columns with two nested columns</h3>
<a id="e-two-columns-nested" class="anchor"></a>

<p>Per the documentation, nesting is easy—just put a row of columns within an existing column.
  This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>,
  with another two (equal widths) within the larger column.</p>
<p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
<div class="l-container--debug">
  {{> example/two-columns-nested}}
</div>
{{> example/two-columns-nested-code}}

<h3>Mixed: mobile and desktop</h3>
<a id="e-mixed-2" class="anchor"></a>

<p>The grid system has four tiers of classes: xs (extra small), sm (small),
  md (medium), and lg (large). You can use nearly any combination of these classes
  to create more dynamic and flexible layouts.</p>
<p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm,
  you only need to specify xs.</p>
<div class="l-container--debug">
  {{> example/mixed-2}}
</div>
{{> example/mixed-2-code}}

<h3>Mixed: mobile, tablet, desktop</h3>
<a id="e-mixed-3" class="anchor"></a>

<div class="l-container--debug">
  {{> example/mixed-3}}
</div>
{{> example/mixed-3-code}}

<h3>Offset, push, and pull resets</h3>
<a id="e-offset-resets" class="anchor"></a>

<p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
<div class="l-container--debug">
  {{> example/offset-resets}}
</div>
{{> example/offset-resets-code}}

<h3>One grid to rule them all</h3>
<a id="e-one-grid" class="anchor"></a>

<p>Example showing a full grid for each tier.</p>
<div class="l-container--debug">
  {{> example/one-grid}}
</div>
{{> example/one-grid-code}}
