<div class="l-row">
  <div class="l-col">l-col</div>
  <div class="l-col">l-col</div>
  <div class="l-col">l-col</div>
  <div class="l-col">l-col</div>
</div>
<div class="l-row">
  <div class="l-col-sm-6">l-col-sm-6</div>
  <div class="l-col-sm-2">l-col-sm-2</div>
</div>
