<div class="l-container">
  <div class="l-row">
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
  </div>
  <div class="l-row">
    <div class="l-col-sm">l-col-sm</div>
    <div class="l-col-sm">l-col-sm</div>
    <div class="l-col-sm">l-col-sm</div>
    <div class="l-col-sm">l-col-sm</div>
  </div>
  <div class="l-row">
    <div class="l-col-md">l-col-md</div>
    <div class="l-col-md">l-col-md</div>
    <div class="l-col-md">l-col-md</div>
    <div class="l-col-md">l-col-md</div>
  </div>
  <div class="l-row">
    <div class="l-col-lg">l-col-lg</div>
    <div class="l-col-lg">l-col-lg</div>
    <div class="l-col-lg">l-col-lg</div>
    <div class="l-col-lg">l-col-lg</div>
  </div>
</div>
