<div class="l-container">
  <div class="l-row">
    <div class="l-col-sm-4 l-col-md-3">.l-col-sm-4 .l-col-md-3</div>
    <div class="l-col-sm-4 l-col-md-3">.l-col-sm-4 .l-col-md-3</div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="u-hidden-sm-up" style="clear: both;"></div>

    <div class="l-col-sm-4 l-col-md-3">.l-col-sm-4 .l-col-md-3</div>
    <div class="l-col-sm-4 l-col-md-3">.l-col-sm-4 .l-col-md-3</div>
  </div>
</div>
