<div class="l-container">
  <div class="l-row">
    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>
    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="d-hidden-sm-down l-row-clearfix"></div>

    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>
    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="d-hidden-sm-down l-row-clearfix"></div>

    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>
    <div class="l-col-1 l-col-md">l-col-1 l-col-md</div>
  </div>
</div>
