<div class="l-container">
  <div class="l-row">
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
    <div style="width: 100%;"></div>
    <div class="l-col">l-col</div>
    <div class="l-col">l-col</div>
  </div>
</div>
