<div class="l-container">
  <div class="l-row">
    <div class="l-col-sm-8">
      Level 1a: l-col-sm-8
      <div class="l-row">
        <div class="l-col-sm-4">
          Level 2a: l-col-sm-4
        </div>
        <div class="l-col-sm-4">
          Level 2b: l-col-sm-4
        </div>
      </div>
    </div>
    <div class="l-col">
      Level 1b: l-col
    </div>
  </div>
</div>
