<div class="l-container">
  <div class="l-row l-row--gutters-none l-row-sm--gutters-default l-row-md--gutters-none l-row-lg--gutters-default">
    <div class="l-col l-col-sm-4 l-col-md-6">A - no gutters</div>
    <div class="l-col l-col-sm-4 l-col-md-6">B - no gutters</div>
  </div>
</div>
