<div class="l-container">
  <div class="l-row">
    <div class="l-col l-col--gutters-none l-col-sm-gutters-default l-col-md-gutters-none l-col-lg-gutters-default">A - no/default gutters</div>
    <div class="l-col l-col--gutters-left-none l-col-lg-gutters-left-none">B - no left gutter</div>
  </div>
  <div class="l-row">
    <div class="l-col l-col--gutters-right-none l-col-lg-gutters-right-none">C - no right gutter</div>
    <div class="l-col">D - yes gutters</div>
  </div>
</div>
