<div class="l-container">
  <div class="l-row l-row--gutters-none l-row-lg-gutters-defualt">
    <div class="l-col l-col-sm-4 l-col-md-6">A - no gutters</div>
    <div class="l-col l-col-sm-4 l-col-md-6">B - no gutters</div>
  </div>
</div>
