<div class="l-container">
  <div class="l-row">
    <div class="l-col">
      1 of 3 (auto)
    </div>
    <div class="l-col-md-5">
      2 of 3 (fixed)
    </div>
    <div class="l-col">
      3 of 3 (auto)
    </div>
  </div>
  <div class="l-row">
    <div class="l-col">
      1 of 3 (auto)
    </div>
    <div class="l-col-md-4">
      2 of 3 (fixed)
    </div>
    <div class="l-col">
      3 of 3 (auto)
    </div>
  </div>
</div>
